# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.contract.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\work\repo\ieee-standard-haihe\IEEE-P3207-Digital-Asset-Identification\contract\.idea\.idea.contract.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
